<div class="container">
  <alert></alert>
  <div class="card border-0 shadow my-5">
    <div class="card-body p-3">
      <div class="row">

        <div class="col-md-4">
          <!--img class="img-fluid" src="{{ product.imageUrl }}" onerror="this.onerror=null; this.src='assets/images/products/noImage.jpg' " sizes="400x300" -->
          <img *ngIf="currentImageId" class="img-fluid" src="https://rentall.projektstudencki.pl:8080/api/products/image/{{ currentImageId }}/" onerror="this.onerror=null; this.src='assets/images/products/noImage.jpg' " sizes="400x300" >
          <button (click)="prevImage()"> &nbsp;&lt;&nbsp; </button>
          &nbsp;
          <button (click)="nextImage()"> &nbsp;&gt;&nbsp; </button>

        </div>

        <div class="col-md-5">
          <h4 class="my-3">{{ product.name }}</h4>

          <h4 class="my-3">Price: {{ product.unitPrice | currency: 'PLN '}}</h4>
          <h4 class="my-3">Reservation period: </h4> {{ start }} to {{ end }}
          <h4 class="my-3">Total cost: {{ booking.cost | currency: 'PLN '}}</h4>
          <h4 class="my-3">Client: <a href="/user-view/{{booking.userId}}">{{clientName}}</a></h4>
          <h4 class="my-3">Description:</h4>
          <a>{{ product.description }}</a>
          <h4 class="my-3">Contact:</h4>
          <a>{{ product.firstName }} , {{ product.phoneNumber}}</a>
          <br>
          <h4 class="my-3">User Description:</h4>
          <a>{{ product.userDescription }}</a>
          <h4 class="my-3">Condition: {{ product.condition }}</h4>
          <br>
          <button class="btn btn-dark" (click)="bookProduct(booking.id)" *ngIf="productStatus === 'RESERVED' && product.userId === appComponent.userId">Accept Booking</button> &nbsp;
          <button class="btn btn-dark" (click)="returnProduct(booking.id)" *ngIf="productStatus === 'RETURNED_BY_CONSUMER' && product.userId === appComponent.userId">Confirm return</button>
          <button class="btn btn-dark" (click)="returnProductConsumer(booking.id)" *ngIf="productStatus === 'BOOKED' && productConsumer === appComponent.userId">Return product</button>
          <button class="btn btn-dark" (click)="cancelProductReservation(booking.id)" *ngIf="productStatus === 'RESERVED' && (productConsumer === appComponent.userId || appComponent.userId === product.userId) && !cancelPressed">Cancel reservation</button>


        </div>

      </div>
      Product status: {{productStatus}}
      <div><a href="/user-view/{{product.userId}}">View user profile</a></div>



      <!-- /.row -->

      <div class="fixed-bottom">
        <a routerLink="/category"><button type="button" class="btn btn-info btn-lg btn-block">Back to category</button></a>
      </div>
      <div style="height: 169px"></div>
    </div>
  </div>
</div>
