<div style="background: #dedede" class="page-holder bg-cover">

  <header class="header">
    <div class="logo"><img src="../../assets/images/logo_navbar.png" width="150"></div>
    <input class="menu-btn" type="checkbox" id="menu-btn"/>
    <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
    <ul class="menu">
      <li><a class="cool" href="#" routerLink="/category">Categories</a></li>
      <li><a class="cool" href="#" routerLink="/owner">Booked from me</a></li>
      <li><a class="cool" href="#" routerLink="/consumer">My bookings</a></li>
      <li><a class="activee" class="cool" href="#" routerLink="/offers">Manage products</a></li>
      <li><a class="cool" *ngIf="!appComponent.isLoggedIn" href="#" routerLink="/user">Log in / Sign up</a></li>
      <li><a class="cool" href=# routerLink="/" (click)="appComponent.logout()"
             *ngIf="appComponent.isLoggedIn">LogOut</a></li>
      <li><a class="cool" href=# routerLink="/user-edit/{{appComponent.userId}}" *ngIf="appComponent.isLoggedIn">
        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
          <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
        </svg>
        {{ appComponent.username }}</a></li>
    </ul>
  </header>


  <form class="needs-validation" novalidate>
    <section>
      <alert></alert>
      <div class="containerr">
        <h2>{{user.firstName}} {{user.lastName}}</h2>

        <div class="row100">
          <div class="coll">
            <div class="inputBox">
              <span class="text">First name: {{user.firstName}}</span>
              <span class="line"></span>
              <div class="invalid-tooltip">
                Please provide a first name.
              </div>
            </div>
          </div>
          <div class="coll">
            <div class="inputBox">
              <span class="text">Last name: {{user.lastName}}</span>
              <span class="line"></span>
              <div class="invalid-tooltip">
                Please provide a last name.
              </div>
            </div>
          </div>
        </div>

        <div class="row100">
          <div class="coll">
            <div class="inputBox">
              <span class="text">Email: {{user.email}}</span>
              <span class="line"></span>
              <div class="invalid-tooltip">
                Please provide email.
              </div>
            </div>
          </div>
        </div>

        <div class="row100">
          <div class="coll">
            <div class="inputBox">
              <span class="text">Description: {{user.description}}</span>
              <span class="line"></span>
              <div class="invalid-tooltip">
                Please provide your custom text.
              </div>
            </div>
          </div>
        </div>

        <div class="row100" *ngIf="!hasOpinion()">
          <div class="coll">
            <div class="inputBox">
              <input type="text" class="form-control" [(ngModel)]="yourOpinion" name="content"
                     required="required">
              <span class="text">Your opinion</span>
              <span class="line"></span>
              <div class="invalid-tooltip">
                Please provide your opinion.
              </div>
            </div>
          </div>
          <div class="coll" *ngIf="!hasOpinion()">
            <div>
              <img *ngFor="let in of counter(5); let i = index" width="32px" class="images" [src]="getStarImage(i)" (mouseover)="setRatingMouse(i)" (mouseout)="resetRatingMouse(i)" (click)="fixRating(i)">
            </div>
          </div>
        </div>

        <div class="row100" *ngIf="!hasOpinion()">
          <div class="coll">
            <input type="submit" (click)="sendOpinion()" value="Send opinion">
          </div>
        </div>


        <div class="card border-0 shadow my-5">
          <div class="row100">
            <div class="coll">
              <h3>Rating: {{user.rating}}
                <div><img *ngFor="let i of ratings" width="32px" class="images" src="assets/images/star.png"></div>
              </h3>
            </div>
          </div>

        </div>

        <div class="card-body p-3">
          <h3>Opinions ({{user.opinions.length}})</h3>
          <table class="table bg-light">
            <thead class="thead-success">
            <tr>
              <th width="200px">Author</th>
              <th>Content</th>
              <th width="200px">Rating</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let opinion of user.opinions">

              <td class="align-middle">
                {{ authorMap.get(opinion.authorId).firstName }} {{ authorMap.get(opinion.authorId).lastName }}
              </td>


              <td class="align-middle">{{ opinion.content }}</td>

              <td class="align-middle"><img *ngFor="let in of counter(opinion.rating)" width="16px" class="images"
                                            src="assets/images/star.png"></td>
            </tr>

            <!-- if products empty then display a message -->
            <div *ngIf="user.opinions?.length == 0" class="alert alert-warning col-md-12" role="alert">
              No opinions found.
            </div>

            </tbody>

          </table>
        </div>
      </div>

    </section>
  </form>

</div>

