<div style="background: #dedede" class="page-holder bg-cover">

  <header class="header">
    <div class="logo"><img src="../../assets/images/logo_navbar.png" width="150"></div>
    <input class="menu-btn" type="checkbox" id="menu-btn"/>
    <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
    <ul class="menu">
      <li><a class="cool" href="#" routerLink="/category">Categories</a></li>
      <li><a class="cool" href="#" routerLink="/owner">Booked from me</a></li>
      <li><a class="cool" href="#" routerLink="/consumer">My bookings</a></li>
      <li><a class="activee" class="cool" href="#" routerLink="/offer">Create an offer</a></li>
      <li><a class="cool" *ngIf="!appComponent.isLoggedIn" href="#" routerLink="/user">Log in / Sign up</a></li>
      <li><a class="cool" href=# routerLink="/" (click)="appComponent.logout()"
             *ngIf="appComponent.isLoggedIn">LogOut</a></li>
      <li><a class="cool" href=# routerLink="/user-edit/{{appComponent.userId}}" *ngIf="appComponent.isLoggedIn">
        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
          <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
        </svg>
        {{ appComponent.username }}</a></li>
    </ul>
  </header>

  <form class="needs-validation" novalidate [formGroup]="OfferForm">
    <section>
      <div class="containerr">
        <h2>Add your product information</h2>
        <div class="row100">
          <div class="coll">
            <div class="inputBox">
              <input type="text" class="form-control" formControlName="name" name="Name" required="required">
              <span class="text">Name:</span>
              <span class="line"></span>
              <div class="invalid-tooltip">
                Please provide a product name.
              </div>
            </div>
            <!--app-combo-box [(ngModel)]="product.name" name="Name" [(list)]="cItems" (onSelect)="selectFromExternal($event)"></app-combo-box-->
          </div>
          <div class="coll">
            <div class="inputBox">
              <input type="text" class="form-control" formControlName="price" name="0" required="required">
              <span class="text">Price:</span>
              <span class="line"></span>
              <div class="invalid-tooltip">
                Please provide a price.
              </div>
            </div>
          </div>
        </div>
        <div class="row100">
          <div class="coll">
            <div class="inputBox">
              <input type="text" class="form-control" formControlName="firstName" name="firstName"
                     required="required">
              <span class="text">First name:</span>
              <span class="line"></span>
              <div class="invalid-tooltip">
                Please provide a first name.
              </div>
            </div>
          </div>
          <div class="coll">
            <div class="inputBox">
              <input type="text" class="form-control" formControlName="phoneNumber" name="phoneNumber"
                     required="required">
              <span class="text">Phone number:</span>
              <span class="line"></span>
              <div class="invalid-tooltip">
                Please provide a phone number.
              </div>
            </div>
          </div>
        </div>
        <div class="row100">
          <div class="coll">
            <div class="inputBox">
              <select formControlName="city" name="city">
                <option value="Warszawa">Warszawa</option>
                <option value="Kraków">Kraków</option>
                <option value="Poznań">Poznań</option>
              </select>
              <span class="text">City:</span>
              <span class="line"></span>
            </div>
          </div>
          <div class="coll">
            <div class="inputBox">
              <select formControlName="category" id="Category" name="Category">
                <option value="http://localhost:8080/api/product-category/1">Devices</option>
                <option value="http://localhost:8080/api/product-category/2">Garden</option>
              </select>
              <span class="text">Category:</span>
              <span class="line"></span>
            </div>
          </div>
        </div>


        <div class="row100">
          <div class="coll">
            <div class="inputBox">
              <select formControlName="productCondition" name="Product Condition">
                <option value="Good">Good</option>
                <option value="Used">Used</option>
                <option value="Bad">Bad</option>
              </select>
              <span class="text">Product Condition:</span>
              <span class="line"></span>
            </div>
          </div>
          <div class="coll">
            <div class="inputBox">
              <input type="text" class="form-control" formControlName="userDescription" name="phoneNumber">
              <span class="text">User Description:</span>
              <span class="line"></span>
            </div>
          </div>
        </div>

        <div class="row100">
          <div class="coll">
            <div class="inputBox textarea">
              <img style="z-index: 0" src="{{productImage}}">
              <textarea class="form-control" formControlName="description"
                        name="description"></textarea>
              <span class="text">Description:</span>

              <div class="invalid-tooltip">
                Please provide a valid zip.
              </div>
            </div>
          </div>
        </div>

        <div class="row100">
          <div class="coll">

            <div>
              <input
                type="file"
                formControlName="imageInput"
                name="imageInput"
                (change)="onFileSelected($event)">
            </div>
          </div>
        </div>

        <div class="row100">
          <div class="coll">
            <input type="submit" (click)="addProduct()" value="Send">
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
