<div style="background: #dedede" class="page-holder bg-cover">

  <header class="header">
    <div class="logo"><img src="../../assets/images/logo_navbar.png" width="150"></div>
    <input class="menu-btn" type="checkbox" id="menu-btn"/>
    <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
    <ul class="menu">
      <li><a class="cool" href="#" routerLink="/category">Categories</a></li>
      <li><a class="cool" href="#" routerLink="/owner">Booked from me</a></li>
      <li><a class="cool" href="#" routerLink="/consumer">My bookings</a></li>
      <li><a class="activee" class="cool" href="#" routerLink="/offers">Manage products</a></li>
      <li><a class="cool" *ngIf="!appComponent.isLoggedIn" href="#" routerLink="/user">Log in / Sign up</a></li>
      <li><a class="cool" href=# routerLink="/" (click)="appComponent.logout()"
             *ngIf="appComponent.isLoggedIn">LogOut</a></li>
      <li><a class="cool" href=# routerLink="/user-edit/{{appComponent.userId}}" *ngIf="appComponent.isLoggedIn">
        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
          <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
        </svg>
        {{ appComponent.username }}</a></li>
    </ul>
  </header>


  <form class="needs-validation" novalidate>
    <section>
      <div class="containerr">
        <alert></alert>
        <h2>Change password</h2>

        <div class="row100">
          <div class="coll">
            <div class="inputBox">
              <input type="password" class="form-control" [(ngModel)]="pass1" name="firstName"
                     required="required">
              <span class="text">Enter new password:</span>
              <span class="line"></span>
              <div class="invalid-tooltip">
                Please provide a new password.
              </div>
            </div>
          </div>
          <div class="coll">
            <div class="inputBox">
              <input type="password" class="form-control" [(ngModel)]="pass2" name="lastName"
                     required="required">
              <span class="text">Confirm new password:</span>
              <span class="line"></span>
              <div class="invalid-tooltip">
                Please provide a new password.
              </div>
            </div>
          </div>
        </div>

        <div class="row100">
          <div class="coll">
            <input type="submit" (click)="changePassword()" value="Save">
          </div>
        </div>
      </div>
    </section>
  </form>

</div>
